{% autoescape off %}
Bonjour {{ user.get_full_name|default:user.username }},

Vous recevez ce message car vous avez demandé la réinitialisation de votre mot de passe sur ChroniCare.

Pour définir un nouveau mot de passe, cliquez sur le lien suivant :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur, si vous l'avez oublié : {{ user.get_username }}

Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail en toute sécurité.

Cordialement,
L'équipe ChroniCare
{% endautoescape %}
