{% extends 'core/base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow border-0">

        <div class="card-body">

            <div class="d-flex justify-content-between">

                <h3>
                    ➕ Ajouter utilisateur
                </h3>

                <a href="/user/"
                   class="btn btn-secondary">

                    Retour

                </a>

            </div>

            <hr>

            <form method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-primary w-100">

                    Enregistrer

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}